@import "../../global.scss";

.contact {
  background-color: white;
  display: flex;

  @include mobile {
    flex-direction: column;
  }
  @include tablet {
    flex-direction: column;
  }

  .left {
    flex: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    @include tablet {
      flex: 1;
    }

    img {
      height: 40%;
      padding: 10px;
      margin: 5px;
    }
  }
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include tablet {
      flex: 2;
    }

    h2 {
      font-size: 30px;
      margin: 10px;
      @include tablet {
        font-size: 2.4rem;
      }
    }
    p {
      text-align: center;
      @include tablet {
        font-size: 1.4rem;
      }
    }

    form {
      width: 70%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px;

      input {
        width: 300px;
        height: 30px;
        font-size: 14px;
        margin: 5px;
        border: 1px solid black;
        border-radius: 10px;

        @include mobile {
          width: 220px;
          height: 20px;
        }
        @include tablet {
          width: 250px;
          height: 30px;
          font-size: 1rem;
        }
      }

      textarea {
        width: 250px;
        height: 200px;
        font-size: 14px;
        margin: 10px;
        padding: 10px;
        border: 1px solid black;
        border-radius: 12px;

        @include mobile {
          width: 220px;
          height: 100px;
        }
        @include tablet {
          width: 250px;
        }
      }
      button {
        width: 150px;
        height: 30px;
        color: white;
        background-color: crimson;
        border-radius: 10px;
        font-weight: 500;
        cursor: pointer;
        margin-bottom: 10px;
        @include tablet {
            font-size: 1.4rem;
            height: 50px;
          }
    

        &:focus {
          outline: none;
        }
      }

      span {
        color: green;
      }
    }
  }
}
